* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #027373;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04BFAD;
  height: 90px;
}

